{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="border-bottom mb-4 p-2">
  <div  class="border-bottom mb-4">
    <h3>
      Developer panel:
    </h3>
  </div>
  <p>
    <b>Abdullah Shoumik:</b> (Data analytics and prediction) <a href="https://www.facebook.com/shafin.hasnat">facebook</a> | <a href="https://github.com/abd-shoumik">github</a>
  </p>
  <p>
    <b>Shafin Hasnat:</b> (Web app development and deployment) <a href="https://www.facebook.com/ashoumik1">facebook</a> | <a href="https://github.com/shafinhasnat">github</a>
  </p>
	
</div>


<div class="border-bottom mb-4 p-2">
  <div  class="border-bottom mb-4">
    <h3>
      Essential Data source:
    </h3>
  </div>
  <p>
  	<a href="https://github.com/CSSEGISandData/COVID-19">github/CSSEGISandData</a><br>
  	<a href="https://www.iedcr.gov.bd/">iedcr</a><br>
  	<a href="https://ourworldindata.org/coronavirus">ourworldindata</a><br>
  	<a href="https://https//flevy.com/coronavirus/bangladesh">flevy</a><br>
  	<a href="http://corona.gov.bd/">corona.gov.bd</a><br>
  </p>
	
</div>
{% endblock %}