{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <div class="border-bottom mb-4 p-2">
          <h3>
            Todays COVID-19 update in Bangladesh
          </h3>
          <small>{{ latest_data.date }}</small>
      </div>
      <table class="table table-bordered table-light">
         
            <tr>
              <th class="table-warning"><center>Cases</center></th>
              <th class="table-warning"><center>Deaths</center></th>
              <th class="table-warning"><center>Recoveries</center></th>
            </tr>
          
         
            <tr>
              <td class="table-info"><center>{{ latest_case }}</center></td>
              <td class="table-danger"><center>{{ latest_death }}</center></td>
              <td class="table-success"><center>{{ latest_recover }}</center></td>
            </tr>
          
        </table>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <div class="border-bottom mb-4 p-2">
          <h3>
            Total COVID-19 data in Bangladesh till today <a href="{% url 'details' %}" class='btn btn-sm btn-outline-dark'>Details</a>
          </h3>
          <small>{{ latest_data.date }}</small>
      </div>
      <table class="table table-bordered table-light">
         
            <tr>
              <th class="table-warning"><center>Cases</center></th>
              <th class="table-warning"><center>Deaths</center></th>
              <th class="table-warning"><center>Recoveries</center></th>
            </tr>
          
         
            <tr>
              <td class="table-info"><center>{{ latest_data.case }}</center></td>
              <td class="table-danger"><center>{{ latest_data.death }} ({{ death_percentage }}%)</center></td>
              <td class="table-success"><center>{{ latest_data.recover }}</center></td>
            </tr>
          
        </table>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <div class="border-bottom mb-4 p-2">
          <h3>
            Tomorrows COVID-19 predictions
          </h3>
          <small>It's a prediction based on a machine learning model as per the exponential growth in the other countries with time and real cases may not match it. We hope our prediction accuray falls down to zero and soon there is no more case😊</small>
      </div>

      <table class="table table-bordered table-light">
         
            <tr>
              <th class="table-warning"><center>Cases</center></th>
              <th class="table-warning"><center>Deaths</center></th>
            </tr>
          
         
            <tr>
              <td class="table-info"><center>{{ case_pred }}</center></td>
              <td class="table-danger"><center>{{ death_pred }}</center></td>
            </tr>
          
        </table>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <h3 class="border-bottom mb-4 p-2">
        Graph of cases in Bangladesh:
      </h3>
      <canvas id="case" style="height:30vh; width:50vw"></canvas>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <h3 class="border-bottom mb-4 p-2">
        Graph of deaths in Bangladesh (death rate {{ death_percentage }}%):
      </h3>
      <canvas id="death" style="height:30vh; width:50vw"></canvas>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <h3 class="border-bottom mb-4 p-2">
        Graph of recovery in Bangladesh:
      </h3>
      <canvas id="recover" style="height:30vh; width:50vw"></canvas>
    </div>
    <div class='border border-dark rounded-lg p-2 mb-4'>
      <div class="border-bottom mb-4 p-2">
          <h3>
            Division wise case distribution:
          </h3>
          <small>Tap on the markers for details.</small>
      </div>
      <div class="center-screen">
      <div id="mapid" style="height:40vh; width:52vw"></div></div>
    </div>
  </div>
<!-- [{% for i in data %}'{{ i.date }}',{% endfor %}]
[{% for i in data %}{{ i.recover }},{% endfor %}] -->
  <script>
    var ctx = document.getElementById('case').getContext('2d');
    var mixedChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Cases',
            data: [{% for i in data %}{{ i.case }},{% endfor %}],
                borderColor: [
                    'rgba(50, 50, 255, 0.7)'
                ],
                backgroundColor: [
                    'rgba(50, 50, 255, 0.2)'
                ],
                borderWidth: [2]
        }, {
            label: 'Case prediction',
            data: [{% for i in pred_case %}{{ i }},{% endfor %}],
                borderColor: [
                    'rgba(255, 0, 251, 0.5)'
                ],
                backgroundColor: [
                    'rgba(50, 255, 50, 0)'
                ],
                borderWidth: [2],
            borderDash: [10,5],

            // Changes this dataset to become a line
            type: 'line'
        }],
        labels: [{% for i in data %}'{{ i.date }}',{% endfor %}]
    },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });  
  
    var ctx = document.getElementById('death').getContext('2d');
    var mixedChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Deaths',
            data: [{% for i in data %}{{ i.death }},{% endfor %}],
                borderColor: [
                    'rgba(255, 50, 50, 0.7)'
                ],
                backgroundColor: [
                    'rgba(255, 50, 50, 0.2)'
                ],
                borderWidth: [2]
        }, {
            label: 'Death prediction',
            data: [{% for i in pred_death %}{{ i }},{% endfor %}],
                borderColor: [
                    'rgba(255, 0, 251, 0.5)'
                ],
                backgroundColor: [
                    'rgba(50, 255, 50, 0)'
                ],
                borderWidth: [2],
            borderDash: [10,5],

            // Changes this dataset to become a line
            type: 'line'
        }],
        labels: [{% for i in data %}'{{ i.date }}',{% endfor %}]
    },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });   
    var ctx = document.getElementById('recover').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for i in data %}'{{ i.date }}',{% endfor %}],
            datasets: [{
                label: 'Recoveries',
                data: [{% for i in data %}{{ i.recover }},{% endfor %}],
                backgroundColor: [
                    'rgba(50, 255, 50, 0.2)'
                ],
                borderColor: [
                    'rgba(50, 255, 50, 0.7)'
                ],
                borderWidth: [2]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


         // Creating map options
         var mapOptions = {
            center: [23.777176,   90.399452],
            zoom: 6
         }
         
         var map = new L.map('mapid', mapOptions);
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hhZmluaGFzbmF0IiwiYSI6ImNrOWgzMWxkYjBzenkzb25hZXVtdGh0MngifQ.qmrBTDRAsIoUT_r7Wd6yMg', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoic2hhZmluaGFzbmF0IiwiYSI6ImNrOWgzMWxkYjBzenkzb25hZXVtdGh0MngifQ.qmrBTDRAsIoUT_r7Wd6yMg'
}).addTo(map);
         
         // Creating a map object
         
         // Creating a Layer object
         var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         
         // Adding layer to the map
         map.addLayer(layer);
          
          
         var markerDHK = L.marker([23.777176,   90.399452]);
         markerDHK.bindPopup('<p class="border-bottom"><b>Dhaka division</b><p>Cases: {{ division_wise.0 }}').openPopup();
         markerDHK.addTo(map);
          
          
         var markerCTG = L.marker([22.3569,   91.7832]);
         markerCTG.bindPopup('<p class="border-bottom"><b>Chattogram division</b><p>Cases: {{ division_wise.1 }}').openPopup();
         markerCTG.addTo(map);
          
          
         var markerKLN = L.marker([22.8456,   89.5403]);
         markerKLN.bindPopup('<p class="border-bottom"><b>Khulna division</b><p>Cases: {{ division_wise.4 }}').openPopup();
         markerKLN.addTo(map);
          
          
         var markerSYL = L.marker([24.8949,   91.8687]);
         markerSYL.bindPopup('<p class="border-bottom"><b>Sylhet division</b><p>Cases: {{ division_wise.2 }}').openPopup();
         markerSYL.addTo(map);
          
          
         var markerRNG = L.marker([25.7439,   89.2752]);
         markerRNG.bindPopup('<p class="border-bottom"><b>Rangpur division</b><p>Cases: {{ division_wise.3 }}').openPopup();
         markerRNG.addTo(map);
          
          
         var markerBAR = L.marker([22.7010,   90.3535]);
         markerBAR.bindPopup('<p class="border-bottom"><b>Barishal division</b><p>Cases: {{ division_wise.6 }}').openPopup();
         markerBAR.addTo(map);
          
          
         var markerRAJ = L.marker([24.3745,   88.6042]);
         markerRAJ.bindPopup('<p class="border-bottom"><b>Rajshahi division</b><p>Cases: {{ division_wise.7 }}').openPopup();
         markerRAJ.addTo(map);
          
          
         var markerMYM = L.marker([24.7471,   90.4203]);
         markerMYM.bindPopup('<p class="border-bottom"><b>Mymensingh  division</b><p>Cases: {{ division_wise.5 }}').openPopup()
         markerMYM.addTo(map);
  </script>
{% endblock %}
